# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Local data files
*.db
*.db.bak
*.xlsx
data/*.csv
data/*.json
data/*.gz
data/*.zip
data/*.tar
data/*.tar.gz
data/*.tar.bz2
data/*.tar.xz
data/*.tar.lzma

# Environment variables
.env

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Additional entries
.pytest_cache/ 